#row1{
   position: fixed;
   top: 0;
   padding-top: 2vh;
    background-color: #f7f1dc;
    border-color: #fa962a;
    height: 7vh;
    width: 100%;
    z-index: 10;
}


#bt1{
  background-color: #f7f1dc;
  border: none;
  color: brown;
}

#menu{
    border: none;
   
}

.social{
    border-width: 10vh;
    padding: 1vh;
    height: 50vh;
    color: brown;
}

.social2{
    margin-top: 6vh;
    font-size: 4vh;
    color: brown;
    
}

.info{
    margin-top: 3vh;
    font-size: 3vh;
    color: brown;
}

#menuOptions{
    padding: 10vh;
    position: fixed;
    font-size: larger;
    top: 0;
    left: 0;
    color: black;
    background-color: white;
    height: 100%;
   display: none;
   z-index: 15;
   transition: all 5s ease-in;
}

#menuOptions a{
    color:black
}

#menuOptions a:hover{
    color:#fa962a;
}

#cross{
    background-color: white;
    position:fixed;
    top:0;
    left:0;
    border:none;
}


.slider{
    
    
    position: absolute;    
    white-space: nowrap;
    padding: 4vw;
    overflow: hidden;
    height: 79vh;
    width: 70%;
    background-color: #f7f1dc;
    
}



.last{
    position: fixed;
   bottom: 2vh;
   left: 2vh;
    display: flex;
    
}

#whatsapp{
    z-index: 10000 !important;
    position: fixed;
    right: 2vh;
    animation-name: bada;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    
}

#phone{
    z-index:10000 ;
    animation-name: bada;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}


.third{
    display: flex;
    justify-content: center;
    background-color: #f7f1dc;
}

#back{
    position: absolute;
    top:7.1vh;    
    left: 0;  
    height: 82vh;
    width: 100%;
    background-color: #f7f1dc;
}

.line{

 background-color: brown;
  margin-top: 7vh;
  z-index: 40;
   
}

.slide{
    
    width: 100%;   
   display: inline-block;
    animation-name: mobe;
    animation-duration: 5s;
   
    animation-timing-function: ease-in-out;   
    animation-iteration-count: infinite;
}

@keyframes mobe {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
       
    }

}

@keyframes bada{
    from {
        transform: scale(1);
    }

    to {
       transform: scale(1.2);
       
    }
}

.page{
     background-color: #fff;
    position:relative;
    
    top: 90vh;
    
    justify-content: center;
}

.page p{
    padding-top: 2vh;
 font-size: 7vh;
 color: brown;
}

.page pre{
    font-size: 2.5vh;
    white-space: pre-line;
    word-wrap: break-word;
    text-align: justify;           
}

.button{
    color: white;
    background-color: #fa962a;
    border: none;
    border-radius: 10px;
    font-size: 4vh;
    height: 8vh;
    width: 30vw;
}

#page3 {
    position: relative;
    top:95vh;
    
}

#page3 img{
    height: 60vh;
}

#page31{
    font-size: 3vh;
}

#page32{
    font-size: 6vh;
    color: brown;
}

#page33{
    padding-top: 5vh;
    font-size: 2.7vh;
  
}

#page3 pre{
    white-space: pre-line;
    word-wrap: break-word;
    text-align: justify;
}

#page3sec{
    padding-left: 1vw;
    background-color: #EEEEEE;
}

#secbutton{
    width: 17vw;
    height: 5vh;
    font-size: 3vh;
}

#thirdbutton{
    height: 5vh; 
    width: 20vw;
     font-size: 3vh;
}

#page2{
    position: relative;
    top: 100vh;
}

.page4{
    position: relative;
    top: 102vh;

}

.page4 img{
    border-radius: 50%;
    height: 30vh;
    padding: 3vh;
}

.head{
    font-size: 3.5vh;
    color: brown;
}

.about button{
    width: 15vw;
    font-size: 3vh;
    height: 4vh;
}

.topic{
    font-size: 6vh;
    color: brown;
}

.def{
    font-size: 3vh;
}

.page5{
    padding-top: 10vh;
}

#drpDef{
    width: 10%;
    border: none;
    height: 40vh;
}

.ques{
   
    color: black;
    
   margin: 2vh;
}



.ques p{
    width: 100%;
    background-color: #f7f1dc ;
    border-color: #EEEEEE;
    overflow-wrap: break-word;
}

.page5{
    padding-top: 5vh ;
}

.bottom{
    font-size: 4vh;
    color: white;
    background-color: #FF9F66;
    justify-content: center;
}


@media(max-width:768px){
    .slide{
        height: 45vh;
    }
   .slider{
    height: 40vh;
   }
   #back{
    height: 45vh;
   }
   .page{
    top:46vh;

   }

   .page p{
    font-size: 5vh;
   }
   
   .button{
    height: 4vh;
    font-size: 3vh;
    width: 60vw;
   }
  
   #page3{
    top: 50vh;
   }
   #page3 img{
    width: 80%;
    height: 50vh;
   }

   #secbutton{
    width: 40vw;
   }

   #page2{
    top: 50vh;
   }
   #thirdbutton{
    width: 50vw;
   }

   .page4{
    top: 55vh;
   }

   #but4,#but5,#but6{
    width: 50vw;
    height: 4vh;
    font-size: 3vh;
   }
   
   
}