#row1{
   position: fixed;
   top: 0;
   padding-top: 2vh;
    background-color: #f7f1dc;
    border-color: #fa962a;
    height: 7vh;
    width: 100%;
    z-index: 10;
}


#bt1{
  background-color: #f7f1dc;
  border: none;
  color: brown;
}

#menu{
    border: none;
   
}

.social{
    border-width: 10vh;
    padding: 1vh;
    height: 50vh;
    color: brown;
}

.social2{
    margin-top: 6vh;
    font-size: 4vh;
    color: brown;
    
}

.info{
    margin-top: 3vh;
    font-size: 3vh;
    color: brown;
}

#menuOptions{
    padding: 10vh;
    position: fixed;
    font-size: larger;
    top: 0;
    left: 0;
    color: black;
    background-color: white;
    height: 100%;
   display: none;
   z-index: 15;
   transition: all 5s ease-in;
}

#menuOptions a{
    color:black
}

#menuOptions a:hover{
    color:#fa962a;
}

#cross{
    background-color: white;
    position:fixed;
    top:0;
    left:0;
    border:none;
}


.slider{
    
    
    position: absolute;    
    white-space: nowrap;
    padding: 4vw;
    overflow: hidden;
    height: 79vh;
    width: 70%;
    background-color: #f7f1dc;
    
}



.last{
    position: fixed;
   bottom: 2vh;
   left: 2vh;
    display: flex;
    
}

#whatsapp{
    z-index: 10000 !important;
    position: fixed;
    right: 2vh;
    animation-name: bada;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    
}

#phone{
    z-index:10000 ;
    animation-name: bada;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}


.third{
    display: flex;
    justify-content: center;
    background-color: #f7f1dc;
}

#back{
    position: absolute;
    top:7.1vh;    
    left: 0;  
    height: 82vh;
    width: 100%;
    background-color: #f7f1dc;
}

.line{

 background-color: brown;
  margin-top: 7vh;
  z-index: 40;
   
}

.slide{
    
    width: 100%;   
   display: inline-block;
    animation-name: mobe;
    animation-duration: 5s;
   
    animation-timing-function: ease-in-out;   
    animation-iteration-count: infinite;
}

@keyframes mobe {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
       
    }

}

@keyframes bada{
    from {
        transform: scale(1);
    }

    to {
       transform: scale(1.2);
       
    }
}

.page{
     background-color: #fff;
    position:relative;
    
    top: 90vh;
    
    justify-content: center;
}

.page p{
    padding-top: 2vh;
 font-size: 7vh;
 color: brown;
}

.page pre{
    font-size: 2.5vh;
    white-space: pre-line;
    word-wrap: break-word;
    text-align: justify;           
}

.button{
   
    color: white;
    background-color: #fa962a;
    border: none;
    border-radius: 10px;
    font-size: 4vh;
    height: 8vh;
    width: 30vw;
}

#page3 {
    position: relative;
    top:95vh;
    
}

#page3 img{
    height: 60vh;
   width:100%;
}

#page31{
    font-size: 3vh;
}

#page32{
    font-size: 6vh;
    color: brown;
}

#page33{
    padding-top: 5vh;
    font-size: 2.7vh;
  
}

#page3 pre{
    white-space: pre-line;
    word-wrap: break-word;
    text-align: justify;
}

#page3sec{
    padding-left: 1vw;
    background-color: #EEEEEE;
}

#secbutton{
    width: 17vw;
    height: 5vh;
    font-size: 3vh;
}

#thirdbutton{
    height: 5vh; 
    width: 20vw;
     font-size: 3vh;
}

#page2{
    position: relative;
    top: 100vh;
}

.page4{
    position: relative;
    top: 102vh;

}

.page4 img{
    border-radius: 50%;
    height: 30vh;
    padding: 3vh;
}

.head{
   font-weight: 500;
    font-size: 4vh;
    color: brown;
    text-align: center;
}

.about button{
    width: 15vw;
    font-size: 3vh;
    height: 5vh;
}



.topic{
    font-size: 6vh;
    color: brown;
    text-align: center;
}

.def{text-align: center;
    font-size: 3vh;
}

.page5{
    padding-top: 10vh;
}

#drpDef{
    width: 10%;
    border: none;
    height: 40vh;
}

.ques{
   
    color: black;
    
   margin: 2vh;
}



.ques p{
    width: 100%;
    background-color: #f7f1dc ;
    border-color: #EEEEEE;
    overflow-wrap: break-word;
}

.steps{
  color: black;
}

.steps p{
    width: 100%;
    font-size: 3vh;
    background-color: #EEE ;
    border-color: #EEEEEE;
    overflow-wrap: break-word;
}
.page5{
    padding-top: 5vh ;
}

.bottom{
    font-size: 4vh;
    color: white;
    background-color: #FF9F66;
    justify-content: center;
}

.page6 img{
    height: 33vh;
    border-radius: 0%;
}

.page6 {
margin-top: 8vh;
}

.expert{
    height: 63vh;
    width: 100%;
}

#divya1{
    display: none;
}
#eshaan1{
    display: none;
}

.blogImg{
    height: 25vh;
}

.blogs p{
    font-size: 3vh;
}

.VastuInsights p{
 margin-top: 2vh;
  margin-left: 6vw;
}

.VastuInsights Img{
    height: 30vh;
}
.socialVI{
    padding: 1vh;
    
    font-size: 2vh;
    color: white;
    background-color: #fa962a;
    border-radius: 50%;
   
}

.tips{
    margin-top: 3vh;
    margin-left: 6vw;
    border-radius: 5px;
    background-color: #f7f1dc;
    border: none;
}

.Vastu{
    margin-top: 3vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   
}

.side{
    margin-top: 2vh;
    margin-bottom: 2vh;
    background-color: #EEE;
    border-radius: 5px;
    border: none;
    width: 10vw;
}
.Insights2{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 3vh;
    margin-left: 3vw;
}

.Insights2 img{
    height: 8vh; margin-top: 5vh;
}
.case1{
    margin-right: 2vw;
}

.case{
    margin-right: 2vw;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.case2{
    margin-top: 2vh;
}

.secrow{
    margin-top: 2vh;
}

.home img{
    height: 51vh;
   
}

.home{
    background-color: #f7f1dc;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.homes img{
    height: 51vh;
}

.img1{
    display: none;
}

.office img{
    height: 67vh;
}



@media(max-width:768px){
    .secrow{
        margin-top: 0;
    }
    .slide{
        height: 45vh;
    }
   .slider{
    height: 40vh;
   }
   #back{
    height: 45vh;
   }
   .page{
    top:46vh;

   }

   .page p{
    font-size: 5vh;
   }
   
   .button{
    height: 5vh;
    font-size: 3vh;
    width: 60vw;
   }
  
   #page3{
    top: 50vh;
   }
   #page3 img{
    width: 90%;
    height: 50vh;
   }

   #secbutton{
    width: 40vw;
   }

   #page2{
    top: 50vh;
   }
   #thirdbutton{
    width: 50vw;
   }

   .page4{
    top: 55vh;
   }

   .about button{
    
    width: 50vw;
    height: 5vh;
    font-size: 3vh;
   }

   #divya2{
    display: none;
   }
   #divya1{
    display: block;
}

#eshaan2{
    display: none;
   }
   #eshaan1{
    display: block;
}

.case{
    margin-top: 5vh;
    margin-right: 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
 
.case2{
    margin-top: 0;
}

.Insights2{
    margin-left: 0;
}

.side{
    width: 40vw;
}
.VastuInsights p,button{
    margin-left: 0;
}

.Insights2 p{
  font-size: 2.5vh;
  padding-left: 11vw;
}

.Insights2 img{
   margin-top: 2vh;
  }

.about1 img{
   margin-left: 10vh;
}

.home img{
    height: 15vh;
}

.homes img{
    height: 30vh;
}

.img1{
    display: block;
}

.img2{
    display: none;
}

.office img{
    height: 23vh;
}
}
